<?xml version="1.0"?>
<!--
/**
 * Copyright © Alpina. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Alpina_RecipesAndArticles::recipes_articles" title="Alpina Recipes and Articles" sortOrder="60">
                        <resource id="Alpina_RecipesAndArticles::recipes" title="Recipes" sortOrder="10"/>
                        <resource id="Alpina_RecipesAndArticles::articles" title="Articles" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
